.pointerNone * {
  pointer-events: none;
}

.showDropDown {
  opacity: 1;
  transform: translateY(0) translateX(var(--translate-x));
  visibility: visible;
}

.hideDropDown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%) translateX(var(--translate-x));
}

.iconActive {
  transform: scale(1.2);
}

/* Page styles ===> SearchNavTop.js */
