/* --------------------------------------- */
/*              Home Na Top.js             */
/* --------------------------------------- */
.pointerNone * {
  pointer-events: none;
}

.showDropDown {
  opacity: 1;
  transform: translateY(0) translateX(var(--translate-x));
  visibility: visible;
}

.hideDropDown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%) translateX(var(--translate-x));
}

/* --------------------------------------- */
/*                 Index.js                */
/* --------------------------------------- */
.index__wrapper {
  overflow-y: scroll;
}

.index__wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
