/* --------------------------------------- */
/*         Reels Wrapper (Reels.js)        */
/* --------------------------------------- */
.reels__wrapper {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

.reels__wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* ----------- video (index.js) ---------- */
.video__wrapper {
  scroll-snap-stop: always;
  scroll-snap-align: center;
  max-width: calc(386px + 60px);
  max-height: calc(100% - 60px);
  scroll-behavior: smooth;
  aspect-ratio: 0.65;
}

/* --------------------------------------- */
/*         Reels Comment component         */
/* --------------------------------------- */
.user_image_name {
  cursor: pointer;
}

.user_detail_modal {
  opacity: 0;
  visibility: collapse;
  transition: opacity 0.2s linear;
  transform-origin: center;
}

/* fall back */
.user_image_name:hover ~ .user_detail_modal {
  visibility: visible;
  opacity: 1;
}

.comment_wrapper:has(.user_image_name:hover) .user_detail_modal {
  visibility: visible;
  opacity: 1;
}

.user_detail_modal:hover {
  visibility: visible;
  opacity: 1;
}
