/* --------------------------------------- */
/*         Reels Wrapper (Reels.js)        */
/* --------------------------------------- */
.reels__wrapper {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
}

.reels__wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* ----------- video (index.js) ---------- */
.video__wrapper {
  scroll-snap-stop: always;
  scroll-snap-align: center;
  max-width: calc(386px + 60px);
  max-height: calc(100% - 60px);
  aspect-ratio: 0.65;
}

/* --------------------------------------- */
/*        Buttons @ video/Buttons.js       */
/* --------------------------------------- */

/* ---------- options component ---------- */
.options_btns {
  @apply w-full block py-4 border-0 border-b border-b-gray-300 text-center;
  border-bottom: 2px solid whitesmoke;
}

/* - share modal an options subcomponent - */
.share_btns {
  @apply w-full px-4 py-3 flex items-center mt-3 hover:bg-gray-50;
}
