@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

a,
button,
input {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

img {
  border-radius: inherit;
}

/* debuggers */
.red {
  border: 2px solid red;
}

.blue {
  border: 2px solid blue;
}

.green {
  border: 2px solid green;
}
