/* --------------------------------------- */
/*         Reels Wrapper (Reels.js)        */
/* --------------------------------------- */
.reels__wrapper {
  height: calc(100vh - 44px);
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
}

.reels__wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* ----------- video (index.js) ---------- */
.video__wrapper {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 426px;
  margin: 0 auto;
}

/* ---------- Scale up animation --------- */

/* --------------------------------------- */
/*                 BUTTONS.js                */
/* --------------------------------------- */

.buttons__wrapper svg {
  -webkit-filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
}

/* ---------- options component ---------- */
.options_btns {
  @apply w-full text-center;
}

.options_btns span {
  @apply h-full block py-3 border-b-2 border-0;
}

/* - share to...an options sub component - */
.share_btns {
  @apply w-full px-4 py-2 flex items-center mt-3 hover:bg-gray-50;
}
